.btnNot {
    border-bottom: 3px solid white;
}

.btnAcc, .btnAide .btnProf, .btnAPro{
    border-bottom: 3px solid transparent;
}

/* .btnAcc:hover {

} */

body {
    background-color: #89AED1;
}

.divG {
    position: absolute;
    /* border: 1px solid red; */
    /* background-color: #A3C6E4; */
    overflow: hidden;
    height: 86.5%;
}

.divIndiServ {
    /* border: 1px solid white; */
    width: 70%;
    margin: 5% auto;
    padding: 5px;
    height: 80%;
}

.divImgIndi {
    /* border: 1px solid white; */
    width: 90%;
    height: 85%;
    margin: auto;
}

.divParaServ {
    /* border: 1px solid white; */
    width: 70%;
    margin: auto;
}

.imgIndi {
    width: 100%;
    height: 100%;
}

.divService {
    box-shadow: 0 0 15px #113153;
    border-radius: 15px;
    margin: auto;
    padding: 5px;
    margin : 5px;
    width: 95%;
}

.divImgServ {
    width: 100%;
    height: 150px;
}

.imgServ {
    width: 100%;
    height: 100%;
}

.paraServ {
    font-size: 13px;
    color: white;
}

.nomS, .nomD, .prenomD {
    border: 1px solid white;
    background-color: #89AED1;
    margin-top: 3px;
    border-radius: 5px;
    height: 22px;
    width: 95%;
}

.paraAlert, .paraAlertDel, .paraAlertModi {
    color: red;
    font-size: 13px;
    width: 100%;
    height: 14px;
    margin-bottom: 2px;
}

.btnValidServ, .btnValDel {
    border-radius: 15px;
    border: none;
    width: 95%;
    height: 23px;
    background-color: #113153;
}

.btnValidServ:hover {
    box-shadow: 0 0 3px #113153;
    transition: 0.3s;
}

.divDelegue {
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
}

.divAjoutDel {
    position: absolute;
    width: 30%;
    margin: auto;
    border-radius: 20px;
    background-color: #89AED1;
    top: 30%;
    left: 35%;
    padding: 5px;
}

/* .title_service { */
    /* text-align: left; */
/* } */

.divImgDel {
    width: 100%;
    height: 150px;
}

.imgDel {
    width: 100%;
    height: 100%;
}

.paraDel {
    font-size: 13px;
    color: #113153;
    width: 80%;
    margin: auto;
}

.linkAnn {
    text-decoration: none;
    font-size: 13px;
    color: #113153;
}

/* la liste des services */
.divContServ_ {
    margin-bottom: 5px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    background-color: #A3C6E4;
}

.divContServ_:hover {
    box-shadow: 0 0 10px #113153;
    transition: 0.3s;
}

.divContInfos {
    display: flex;
    width: 70%;
}

.imgServ___ {
    width: 50px;
    height: 50px;
    background-color: #A3C6E4;
    margin: 5px;
    border-radius: 100%;
}

.imgAjout, .imgModi, .imgSuppr {
    width: 40px;
    height: 40px;
    margin: 5px;
    border-radius: 100%;
}

.title_service {
    text-align: left;
}

.nom_Delegue {
    color: #113153;
    font-size: 14px;
    text-align: left;
}

.divListeServ {
    display: flex;
    justify-content: space-around;
}

.divImgServ_ {
    width: 50%;
    height: 150px;
    margin: auto;
}

.imgServ_ {
    height: 100%;
    width: 100%;
}

.divParaServ_ {
    width: 60%;
    margin: auto;
}

.divBtnsDele {
    display: flex;
    padding-bottom: 15px;
}

.btn_modi, .btn_supp {
    margin: 6px;
    background-color: #89AED1;
    border-radius: 100%;
    height: 50px;
    width: 50px;
    font-size: 0px;
}

.btn_modi:hover, .btn_supp:hover {
    transition: 0.3s;
    background-color: #A3C6E4;
}

.btn_modi:active, .btn_supp:active {
    transition: 0.3s;
    background-color: #113153;
}

/* .btn_, .btn__ {
    color: transparent;
    background-color: transparent;
    font-size: 0px;
} */

/* fenetre de suppression service */
.divDelete, .divUpdate {
    position: absolute;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
}

.divContDel, .divContModi {
    width: 30%;
    border-radius: 20px;
    background-color: #89AED1;
    position: absolute;
    top: 30%;
    left: 35%;
    padding: 5px;
}

.divImgDel, .divImgModi {
    width: 100%;
    height: 150px;
}

.imgDelete, .imgModifier {
    width: 100%;
    height: 100%;
}

.btnSupp, .btnModifier {
    background-color: #113153;
    transition: 0.3s;
}

.btnModifier {
    width: 95%;
    height: 23px;
    border: none;
    border-radius: 15px;
    margin-top: 5px;
}

.btnSupp:hover, .btnModifier:hover {
    box-shadow: 0 0 10px #113153;
    transition: 0.3s;
}

.paraSupp, .paraModi {
    color: white;
    font-size: 13px;
    text-decoration: none;
}
